<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="UI Automation Suite">

    <test name="Web Tests">
        <packages>
            <package name="tests"/>
        </packages>
    </test>

    <test name="Mobile Tests">
        <packages>
            <package name="mobile.tests"/>
        </packages>
    </test>

</suite>
